<footer>
    <div class="container">
        <div class="row">
            <div class="col-md col-sm-6">
                <ul>
                    <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-square-instagram"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
                </ul>
            </div>
            <div class="col-md col-sm-6">
                <div class="cp">
                    <span> Welcome to the Ales fitness and gym center! </span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->